#main-container {
    position: absolute;
    padding: 20px;
    min-width: 600px;
    min-height: 600px;
    width: 1245px;       
}

#toolbar {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: right;
}

#table-div {
    top: 100px;
    height: 600px;
    width: 100%;
}
