#main-container {
    width: 100%;       
    display: flex;
    justify-content: center;
}

#toolbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: right;
}

#table-div {
    top: 100px;
    height: 600px;
    width: 1220px;    
}
