<div id="main-container">   
  <div id="inner-container">
    <div id="toolbar">
      <button 
        type="button" 
        class="btn btn-primary"
        (click)="onAddClick()">
          Добавить
      </button>
    </div>
    <div id="table-div">
      <ag-grid-angular 
        #table
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"      
        [rowData]="rowData"
        [gridOptions]="gridOptions"
        [rowMultiSelectWithClick]="true"
        >
      </ag-grid-angular>
    </div>
  </div>
</div>