<div id="outer-container">
    <div id="inner-container">
        <form id="form">
            <label for="make">{{labels['make']}}</label><br>
            <input type="text" id="make" [(ngModel)]="car.make" name="make" ><br>

            <label for="model">{{labels['model']}}</label><br>
            <input type="text" id="model" [(ngModel)]="car.model" name="model"><br>
            
            <label for="color">{{labels['color']}}</label><br>
            <input type="text" id="color" [(ngModel)]="car.color" name="color"><br>

            <label for="engineVolume">{{labels['volume']}}</label><br>
            <input type="number" id="engineVolume" [(ngModel)]="car.volume" name="engineVolume"><br>

            <label for="mileage">{{labels['mileage']}}</label><br>
            <input type="number" id="mileage" [(ngModel)]="car.mileage" name="mileage"><br>

            <label for="year">{{labels['year']}}</label><br>
            <input type="number" id="year" [(ngModel)]="car.year" name="year"><br>    
        </form>
        <div id="buttons-container">
            <button class = "btn btn-primary" (click)="onSubmit()">Сохранить</button>
            <button class = "btn btn-secondary" (click)="onSubmit()">Отмена</button>
        </div>
    </div>
</div>