#outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#inner-container {
    width: 190px;
    margin: 80px;
}

#buttons-container{
    display: flex;
    padding: 10px;
    justify-content:space-around;    
}

label {
    font-size: small;
    color: gray;
}